.mapWrapper {
    background-color: #312e2e;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: -1px;
    z-index: 3;
    left: 0px;
    display: flex;
    justify-content: center;
}

.map-title {
    position: fixed;
    width: fit-content;
    height: fit-content;
    font-size: 40px;
    z-index: 2;
    padding: 6px;
    margin: 10px;
    border: solid 4px rgb(140 140 140);
    border-radius: 12%;
    background-color: rgb(81 81 81);
    color: rgb(193 193 193);
}

.stock-container {
    width: 100vw;
    height: 100vh;
    border: 1px solid black;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transformOrigin: 50% 50%;
}

.map-myProfile {
    position: relative;
    top: 156px;
}
.map-one {
    top: -1px;
    left: -77px;
    position: relative;
}
.map-two {
    position: relative;
    top: -71px;
    left: 77px;
}
.map-three {
    position: relative;
    left: -77px;
}
.map-four {
    position: relative;
    top: -69px;
    left: 77px;
}

.img-hoverable:hover {
    filter: brightness(60%);

}
.img-hoverable:hover > .map-id {
    visibility: unset !important;
}

.map-id {
    position: relative;
    top: -61px;
    left: 41px;
    color: white;
    visibility: hidden;
}