.post:hover {
    filter: brightness(60%);
}

.profileWrapper {
    width: 700px;
}

.profile-name {
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: -15px;
}

.grid {
    overflow: visible;
    /*margin-left: -10%;*/
    width: 65vw;
    min-width: 620px;
    max-width: 800px;
    align-items: center;
}

.spacer {
    flex: 1;
}

.profile-page {
    display: flex;
    padding-right: 11%;
}

.post-label {
    width: 62vw;
    max-width: 803px;
    min-width: 615px;
    align-items: center;
    padding-top: 12px;
    display: flex;
    justify-content: center;
    border-top: 1px solid rgb(220, 220, 220);
}

.thumbnails {
    height: 65vw !important;
    max-height: 250px;
    min-height: 204px;
    object-fit: cover;
}
