.follow-modal {
    background-color: #fff;
    position: relative;
    /*width: 350px;*/
    /*height: 400px;*/
    min-width: 350px;
    min-height: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    z-index: 6;
}

.follow-title-section {
    border-bottom: 1px solid rgb(220, 220, 220);
    display: flex;
    justify-content: center;
}

.follow-title {
    padding: 10px;
    font-weight: bold;
    font-size: 16px;
    /*margin-right: 36%;*/
}

.follow-content-section {
    height: 357px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

