.delete-modal {
    background-color: #fff;
    position: fixed;
    min-width: 350px;
    min-height: 400px;
    left: 38%;
    top: 20%;
    box-shadow: 1px 1px 4px 1px rgba(49, 49, 49, 0.57);
    margin: auto;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    z-index: 7;
}

.delete-title-section {
    border-bottom: 1px solid rgb(220, 220, 220);
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-title {
    padding: 10px;
    font-weight: bold;
    font-size: 16px;
    /*margin-right: 36%;*/
}

.delete-content-section {
    height: 357px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    align-items: center;
    justify-content: center;
}
